include _head
  
body
  .home-hero
    include _navbar
    .hero-content
      div(data-inject="businessName") #{data.businessName}
      h1.heading
        strong
          | We’ll Make Your Lawn 
          br
          | Green and Gorgeous
      div Landscaping for your home or business
  section.specialties-section
    h2(data-w-id="29f99436-5686-f1c0-9561-8cb741e2a513" style="opacity:0") Our Specialties
    .orange-hr(data-w-id="0d4349a7-e91e-374a-b2fd-765611c06615" style="opacity:0")
    .centered-container.w-container
      .cards-grid-container
        #w-node-5f0a219c1ef6-f2233571.specialties-card(data-w-id="2b568f46-8032-8c20-98f4-5f0a219c1ef6" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/Lawn_mower_on_green_grass-1280w.png" srcset="/landscaping/images/Lawn_mower_on_green_grass-1280w-p-500.png 500w, /landscaping/images/Lawn_mower_on_green_grass-1280w-p-800.png 800w, /landscaping/images/Lawn_mower_on_green_grass-1280w-p-1080.png 1080w, /landscaping/images/Lawn_mower_on_green_grass-1280w.png 1280w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3 Lawn Maintenance
          p
            | Your garden will look greener than ever with our 12-month garden maintenance program.
        #w-node-5f0a219c1efd-f2233571.specialties-card(data-w-id="2b568f46-8032-8c20-98f4-5f0a219c1efd" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/trimming_hedge_with_electric_garden-1920w.png" srcset="/landscaping/images/trimming_hedge_with_electric_garden-1920w-p-500.png 500w, /landscaping/images/trimming_hedge_with_electric_garden-1920w-p-800.png 800w, /landscaping/images/trimming_hedge_with_electric_garden-1920w-p-1080.png 1080w, /landscaping/images/trimming_hedge_with_electric_garden-1920w-p-1600.png 1600w, /landscaping/images/trimming_hedge_with_electric_garden-1920w.png 1882w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-5f0a219c1f00-f2233571 Natural Fences
          p#w-node-5f0a219c1f02-f2233571
            | Both beautiful and functional, natural fences are a fragrant and attractive way of creating privacy.
        #w-node-5f0a219c1f04-f2233571.specialties-card(data-w-id="2b568f46-8032-8c20-98f4-5f0a219c1f04" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/girl_with_plants.png" srcset="/landscaping/images/girl_with_plants-p-500.png 500w, /landscaping/images/girl_with_plants-p-800.png 800w, /landscaping/images/girl_with_plants-p-1080.png 1080w, /landscaping/images/girl_with_plants-p-1600.png 1600w, /landscaping/images/girl_with_plants.png 1920w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-5f0a219c1f07-f2233571 Tree Planting
          p#w-node-5f0a219c1f09-f2233571
            | We'll recommend the most suitable shade, fruit and ornamental trees for your property.
        #w-node-21f405cf4ca0-f2233571.specialties-card(data-w-id="98cd9f09-2da4-3ce0-8647-21f405cf4ca0" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/watering_garden.png" srcset="/landscaping/images/watering_garden-p-500.png 500w, /landscaping/images/watering_garden-p-800.png 800w, /landscaping/images/watering_garden-p-1080.png 1080w, /landscaping/images/watering_garden-p-1600.png 1600w, /landscaping/images/watering_garden.png 1920w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-21f405cf4ca3-f2233571 General Gardening
          p#w-node-21f405cf4ca5-f2233571
            | From weekly mowing to seasonal planting and pruning, we’ll keep your garden gorgeous.
        #w-node-567de79243b8-f2233571.specialties-card(data-w-id="b194f29e-83a0-c422-9220-567de79243b8" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/architecture_garden_design.png" srcset="/landscaping/images/architecture_garden_design-p-500.png 500w, /landscaping/images/architecture_garden_design-p-800.png 800w, /landscaping/images/architecture_garden_design-p-1080.png 1080w, /landscaping/images/architecture_garden_design-p-1600.png 1600w, /landscaping/images/architecture_garden_design.png 1766w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-567de79243bb-f2233571 Landscape Design
          p#w-node-567de79243bd-f2233571
            | Transform your yard into the garden of your dreams with our friendly, professional services.
        #w-node-3c4663ea1700-f2233571.specialties-card(data-w-id="872f1337-bac5-e0d4-2622-3c4663ea1700" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/photo-plant.jpg" srcset="/landscaping/images/photo-plant-p-800.jpeg 800w, /landscaping/images/photo-plant-p-1080.jpeg 1080w, /landscaping/images/photo-plant-p-1600.jpeg 1600w, /landscaping/images/photo-plant.jpg 1920w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-3c4663ea1703-f2233571 Annuals & Perennials
          p#w-node-3c4663ea1705-f2233571
            | Choose the flowers and plants that you love and we’ll create the garden of your dreams.
      a.primary-orange-button.w-inline-block(href=`/landscaping/${data.customId}/${data.slug}/services`)
        .text-block View All Services
  section.section
    .grid-3.w-container
      #w-node-b613e1dca97f-f2233571.company-left.slide-right(data-w-id="e1fedec8-634e-6c08-eb48-b613e1dca97f" style="opacity:0")
        .orange-hr
        h3(data-inject="businessName") #{data.businessName}
        .text-block-2
          | Our company provides the most well-respected landscaping services with hundreds of residential and professional clients. We are a family-run business and we care deeply about what we do. 
          br
          | ‍
          br
          | We are dedicated to providing the highest level of service at competitive prices. Your pride is our greatest satisfaction!
        .center
          a.primary-orange-button.w-inline-block(href=`/landscaping/${data.customId}/${data.slug}/services`)
            .text-block Learn More
      .company-right
        img.image-2(src="/landscaping/images/Company-Leaves.png" srcset="/landscaping/images/Company-Leaves-p-500.png 500w, /landscaping/images/Company-Leaves.png 576w" sizes="(max-width: 479px) 96vw, (max-width: 593px) 97vw, (max-width: 767px) 576px, (max-width: 991px) 388.3625183105469px, 534.2000122070312px" data-w-id="96107f12-02f1-d7e1-985f-95d7e776586e" style="opacity:0" alt="")
  section.take-care
    .container.w-container(data-w-id="b2ee2ddc-4f6b-a1a9-195f-cade775d9052" style="opacity:0")
      h2
        strong Let us care for your lawn!
      div
        .text-block
          | Call us at 
          a.white.inline-bold(href=`tel:${data.phoneNumber}` data-inject="phone")
            span(data-inject="phone") #{data.phoneNumber}
          |  or contact us for your free quote.
      a#call-fixed.primary-orange-button.w-inline-block(data-inject="phone" href=`tel:${data.phoneNumber}`)
        .text-block Call #{data.phoneNumber}
  section.section-3
    .centered-container.w-container
      .cards-grid-container
        #w-node-dd7c56e287c0-f2233571.testimonial-card
          img.testimonial-image(src="/landscaping/images/Janice.png" srcset="/landscaping/images/Janice-p-500.png 500w, /landscaping/images/Janice.png 642w" sizes="(max-width: 767px) 80px, 105px" alt="")
          img.green-quote(src="/landscaping/images/Green-Quote.png" alt="")
          .text-block-2
            | I want to thank you for the excellent job you’ve done with our lawn. It’s never been greener!
          .orange-text.testimonial
            em Janice Kraft
        #w-node-dd7c56e287c7-f2233571.testimonial-card
          img.testimonial-image(src="/landscaping/images/Doug.png" alt="")
          img.green-quote(src="/landscaping/images/Green-Quote.png" alt="")
          .text-block-2
            | People often ask me how my garden looks so good. Naturally, I tell them that it is thanks to you.
          .orange-text.testimonial
            em Doug Fisher
        #w-node-dd7c56e287ce-f2233571.testimonial-card
          img.testimonial-image(src="/landscaping/images/Lianne.jpg" alt="")
          img.green-quote(src="/landscaping/images/Green-Quote.png" alt="")
          .text-block-2
            | My garden is small, but it’s the nicest on the block. It’s like a burst of sunshine every day.
          .orange-text.testimonial
            em Lianne Smith
  include _footer