extends base

block content
  .about-us-header.services
    .header-content
      .h1-contain
        h1 Services
      a#call-fixed.primary-orange-button.w-inline-block(data-inject="phone" href=`tel:${data.phoneNumber}`)
        .text-block Call #{data.phoneNumber}
  section.specialties-section
    .centered-container.w-container
      .services-text
        h2(data-inject="businessName") #{data.businessName}
        .orange-text
          em We plant, mow, trim, prune, design, and more. We do it all!
        .text-block-2
          | We provide all types of landscaping services, to meet any residential or commercial need. Whether it’s a small plot you want to fill with flowers or the lawn of an office that needs upkeep, we’re here to help. 
          br
          | Tell us your vision, and we’ll bring it to life.
      .cards-grid-container
        #w-node-70f66d0fe80b-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe80b" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/Lawn_mower_on_green_grass-1280w.png" srcset="/landscaping/images/Lawn_mower_on_green_grass-1280w-p-500.png 500w, /landscaping/images/Lawn_mower_on_green_grass-1280w-p-800.png 800w, /landscaping/images/Lawn_mower_on_green_grass-1280w-p-1080.png 1080w, /landscaping/images/Lawn_mower_on_green_grass-1280w.png 1280w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3 Lawn Maintenance
          p
            | Your garden will look greener than ever with our 12-month garden maintenance program.
        #w-node-70f66d0fe812-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe812" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/trimming_hedge_with_electric_garden-1920w.png" srcset="/landscaping/images/trimming_hedge_with_electric_garden-1920w-p-500.png 500w, /landscaping/images/trimming_hedge_with_electric_garden-1920w-p-800.png 800w, images/trimming_hedge_with_electric_garden-1920w-p-1080.png 1080w, images/trimming_hedge_with_electric_garden-1920w-p-1600.png 1600w, images/trimming_hedge_with_electric_garden-1920w.png 1882w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-70f66d0fe815-24ca2e80 Natural Fences
          p#w-node-70f66d0fe817-24ca2e80
            | Both beautiful and functional, natural fences are a fragrant and attractive way of creating privacy.
        #w-node-70f66d0fe819-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe819" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/girl_with_plants.png" srcset="/landscaping/images/girl_with_plants-p-500.png 500w, /landscaping/images/girl_with_plants-p-800.png 800w, /landscaping/images/girl_with_plants-p-1080.png 1080w, /landscaping/images/girl_with_plants-p-1600.png 1600w, /landscaping/images/girl_with_plants.png 1920w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-70f66d0fe81c-24ca2e80 Tree Planting
          p#w-node-70f66d0fe81e-24ca2e80
            | We'll recommend the most suitable shade, fruit and ornamental trees for your property.
        #w-node-70f66d0fe820-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe820" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/watering_garden.png" srcset="/landscaping/images/watering_garden-p-500.png 500w, /landscaping/images/watering_garden-p-800.png 800w, /landscaping/images/watering_garden-p-1080.png 1080w, /landscaping/images/watering_garden-p-1600.png 1600w, /landscaping/images/watering_garden.png 1920w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-70f66d0fe823-24ca2e80 General Gardening
          p#w-node-70f66d0fe825-24ca2e80
            | From weekly mowing to seasonal planting and pruning, we’ll keep your garden gorgeous.
        #w-node-70f66d0fe827-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe827" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="/landscaping/images/architecture_garden_design.png" srcset="/landscaping/images/architecture_garden_design-p-500.png 500w, /landscaping/images/architecture_garden_design-p-800.png 800w, /landscaping/images/architecture_garden_design-p-1080.png 1080w, /landscaping/images/architecture_garden_design-p-1600.png 1600w, /landscaping/images/architecture_garden_design.png 1766w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-70f66d0fe82a-24ca2e80 Landscape Design
          p#w-node-70f66d0fe82c-24ca2e80
            | Transform your yard into the garden of your dreams with our friendly, professional services.
        #w-node-70f66d0fe82e-24ca2e80.specialties-card(data-w-id="0286c751-8be4-9870-512f-70f66d0fe82e" style="opacity:0")
          .cards-image-mask
            img.cards-image(src="images/photo-plant.jpg" srcset="/landscaping/images/photo-plant-p-800.jpeg 800w, /landscaping/images/photo-plant-p-1080.jpeg 1080w, /landscaping/images/photo-plant-p-1600.jpeg 1600w, /landscaping/images/photo-plant.jpg 1920w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 229.3249969482422px, 290px" alt="")
          h3#w-node-70f66d0fe831-24ca2e80 Annuals & Perennials
          p#w-node-70f66d0fe833-24ca2e80
            | Choose the flowers and plants that you love and we’ll create the garden of your dreams.
      a#call-fixed.primary-orange-button.w-inline-block(data-inject="phone" href=`tel:${data.phoneNumber}`)
        .text-block Call #{data.phoneNumber}